<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load rest_framework %}
    <title>六爻排盘系统</title>
</head>
<body>
        <form action="{% url 'paipan' %}" method="post">
            {% csrf_token %}
            <div><span>阳历：</span><span><input type="date" name="date"></span></div><br>
            {% for name in nameSet %}
                <div>
                        <span>{{name.label}} (第 {{name.time}} 次摇币)：</span>
                        <select name= {{name.name}}>
                            {% for yao in yaoSet %}
                                <option value={{yao.yao}}>{{yao.name}} ({{yao.coin}})</option>
                            {% endfor %}
                        </select>
                </div><br>
            {% endfor %}
            <div><button type="submit" class="btn btn-default">排盘</button></div>
        </form>
    <script src="index.js"></script>
</body>
</html>