<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load rest_framework %}
    <title>六爻排盘系统</title>
</head>
<body>
        <form action="{% url 'paipan' %}" method="post">
            {% csrf_token %}
            <div><span>阳历：</span><span><input type="date" name="date"></span></div>
            <div>
                <span>六爻：</span>
                <select name="liuyao">
                    <option value="000">老阴</option>
                    <option value="110">少阴</option>
                    <option value="111">老阳</option>
                    <option value="001">少阳</option>
                </select>
            </div><br>
            <div>
                <span>五爻：</span>
                <select name="wuyao">
                    <option value="000">老阴</option>
                    <option value="110">少阴</option>
                    <option value="111">老阳</option>
                    <option value="001">少阳</option>
                </select>
            </div><br>
            <div>
                <span>四爻：</span>
                <select name="siyao">
                    <option value="000">老阴</option>
                    <option value="110">少阴</option>
                    <option value="111">老阳</option>
                    <option value="001">少阳</option>
                </select>
            </div><br>
            <div>
                <span>三爻：</span>
                <select name="sanyao">
                    <option value="000">老阴</option>
                    <option value="110">少阴</option>
                    <option value="111">老阳</option>
                    <option value="001">少阳</option>
                </select>
            </div><br>
            <div>
                <span>二爻：</span>
                <select name="eryao">
                    <option value="000">老阴</option>
                    <option value="110">少阴</option>
                    <option value="111">老阳</option>
                    <option value="001">少阳</option>
                </select>
            </div><br>
            <div>
                <span>初爻：</span>
                <select name="chuyao">
                    <option value="000">老阴</option>
                    <option value="110">少阴</option>
                    <option value="111">老阳</option>
                    <option value="001">少阳</option>
                </select>
            </div><br>
            <div><button type="submit" class="btn btn-default">排盘</button></div>
        </form>
</body>
</html>